*{
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    
    background: #2b303518 !important;
}

h1, h2{
    margin: 1.5rem 1.5rem !important ;
    text-align: center;
    color: rgb(0, 0, 0) !important;
    font-family: 'Ubuntu', sans-serif;
}
#nav-heading{
    margin-left: 16px !important;
    font-size: 2rem;
    text-align: center;
}

.navbar{
    border-radius: 0px 0px 10px 10px !important;
}

p{
    text-align: justify;
    color: rgb(0, 0, 0);
    font-family: 'Quicksand', sans-serif;
}

#text-container{
    margin-bottom: 50px ;
    border: 2px solid #2b3035;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.541) ;
    /* backdrop-filter: blur(10px); */
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.4), 2px 6px 20px 2px rgba(0, 0, 0, 0.39);
}

#nav-item-link{
    font-size: 1.4rem !important;
    /* color: #ffffff; */
}

